<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>
<body>
  <div class="navlinks">
  <ul>
    <li>
    <a href="/home">Heim</a></li>
    <li>
    <a href="/logout">Logg ut</a></li>
    <li>
    <% if (admin){ %>
    <a href="/admin">admin side</a></li>
    <%}%>
    <li>
    <a href="/profile">profile:<%= user %></a></li>
  
</ul>
  </div>
  <div class="main">
  <div class="admin">
    <h2>Admin site</h2>
    <h3>Users</h3>
  </div>
  <table class="table">
    <!-- tbody og thead for å gruppere elementene i head body og footer. -->
    <thead>
      <tr>
        <th>Fornavn</th>
        <th>Etternavn</th>
        <th>Email</th>
        <th>Role</th>
        <th>prfpic</th>
        <th>edit</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
        <% users.forEach((user)=> { %>
            <tr class="info">
              <td><%= user.firstname %></td>
              <td><%= user.lastname %></td>
              <td><%= user.email %></td>
              <td><%if(user.admin == 1) { %> admin <% } else { %> user <% } %></td>
              <td><img id="prfpic" src="<%= user.prfpic %>" alt="img" height="50vh"></td>
              <td>
                  <form action="/admin/edit" method="GET" style="display: inline;">
                    <input type="hidden" name="email" value="<%= user.email %>">
                    <button class="edit" type="submit">Edit</button>
                  </form>
              </td>
              <td>
                <form action="/admin/delete" method="POST">
                  <input type="hidden" name="email" value="<%= user.email %>">
                  <button class="delete-button" type="submit">Delete</button>
              </form>
              </td>
            <% }) %>
          </form>
    </tbody>
    </table>
  </div>
    </body>
</html>
