<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select a Product Category</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navlinks">
      <ul>
        <li>
        <a href="/home">Heim</a></li>
        <li>
        <a href="/logout">Logg ut</a></li>
        <li>
        <% if (admin){ %>
        <a href="/admin">admin side</a></li>
        <%}%>
        <li>
        <a href="/profile">profile:<%= user %></a></li>
    </ul>
      </div>
      <div class="main">
        <form action="/home/post" method="post">
            <label for="comment">Comment:</label>
            <input type="text" id="comment" name="comment">
            <button type="submit">Post</button>
        </form>
    
        <% comments.slice().reverse().forEach(comment => { %>
          <div class="comments">
              <img id="prfpic" src="<%= comment.prfpic %>" alt="profile picture">
<!--               <p id="comment-author">posted by: <%= comment.email %></p> -->
              <p id="comment-author">posted by: <%= comment.firstname %></p>
              <p id="comment-text"><%= comment.comment %></p>
              <% if(admin){ %>
                <form action="/home/delete" method="post">
                  <input type="hidden" name="email" value="<%= comment.email %>">
                  <input type="hidden" name="comment" value="<%= comment.comment %>">
                  <button type="submit">Delete</button>
                </form>
              <% } %>
          </div>
      <% }); %>
    </div>
    
</div>
</body>
</html>
