<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>
<body>
  <div class="navlinks">
    <ul>
      <li>
      <a href="/home">Heim</a></li>
      <li>
      <a href="/logout">Logg ut</a></li>
      <li>
      <% if (admin){ %>
      <a href="/admin">admin side</a></li>
      <%}%>
      <li>
      <a href="/profile">profile:<%= user %></a></li>
    
  </ul>
    </div>
  <div class="main">
  <div class="user">
    <h2>Profile page</h2>
    <h3>User info</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Fornavn</th>
        <th>Etternavn</th>
        <th>Email</th>
        <th>profile pic</th>
      </tr>
    </thead>
    <tbody>
            <tr class="info">
              <td><%= fn %></td>
              <td><%= ln %></td>
              <td><%= user %></td>
              <td><img src="<%= pfpic %>" alt="img" height="50vh"></td>
          </form>
    </tbody>
    </table>
  </div>
    </body>
</html>
